.bg-light{
  background-color: #FFFFFF !important;
}

.bg-primary {
  background-color: #00A797 !important;
}

.text-primary {
  color: #00A797 !important;
}


.social{
  margin-top: 25px;
}
.panel-lateral{
  height: 100%;
}
tr.tbl-h tr:hover{
  cursor: pointer;
}

.t-transp:hover {
  transition:all .5s ease-in-out;
  filter: opacity(.5);
}
