.bg-light{
  background-color: #FFF9ED !important;
}

.bg-primary {
  background-color: #00A797 !important;
}

.text-primary {
  color: #00A797 !important;
}


.social{
  margin-top: 25px;
}
.panel-lateral{
  height: 100%;
}
tr.tbl-h tr:hover{
  cursor: pointer;
}

