.bg-light{
  background-color: #FFFFFF !important;
}

.bg-primary {
  background-color: #00A797 !important;
}

.text-primary {
  color: #00A797 !important;
}


.social{
  margin-top: 25px;
}
.panel-lateral{
  height: 100%;
}
tr.tbl-h tr:hover{
  cursor: pointer;
}

.t-transp:hover {
  transition:all .5s ease-in-out;
  filter: opacity(.5);
}

/* .es-button
ul li button.es-button {
  height: 30px;
  width: 30px;
  border-radius:50%;
  border:none;
  background-image:
  url('../images/lenguages/espana.svg');
  background-repeat: no-repeat;
}
ul li button.es-button:hover {
  opacity: 0.5;
}
.en-button{
height: 30px;
  width: 30px;
  border-radius:50%;
  border:none;
  background-image:
  url('../images/lenguages/reino-unodp.svg');
  background-repeat: no-repeat;
}
.en-button{ opacity:0,5}



*/
